.pertama { 
	color: orange;
	border-bottom: 1px solid orange;  
}
.kedua {
	color: orange;
	margin-left: 100px;
}
p { 
	font-size: large; 
	font-family: sans-serif;
	margin-left: 100px; 
} 
img {
	float: right; 
	margin: 0 12px; 
} 